

/* Sidebar styles */
.sidebar {
  bottom: 0; /* FOR PULLING THE SIDEBAR DOWNWARDS */
  padding: 70px 0 0; /* FOR SIDEBAR HEIGHT */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%), 0 5px 15px 0 rgb(0 0 0 / 30%); /* FOR SHADOW EFFECT */
  z-index: 600;
  overflow-y: auto; /* OVERFLOW PROPERTY TO WRAP LONG TEXTS */
}

@media (max-width: 991.98px) {  
  .sidebar {
    width: 100%; /* FULL WIDTH FOR SMALLER SCREENS */
  }
  main {
    padding-left: 10px; /* INCREASE TO MOVE IT TO RIGHT */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #sidebarMenu {
    width: 100%; /* Set the width to 100% for smaller screens */
  }
  
}

#sidebarMenu {
  z-index: -1; /* Adjust the z-index to a lower value */
  position: fixed;
  height: 100%;
  width: 15%; /* Set the width as a percentage */
  background-color: #D9FFCF;
  overflow: auto;
  white-space: nowrap;
}


/* HIDES CONTENT WHEN USER HAS NOT CLICKED ANYTHING YET */
.hidden {
  display: none !important;
}

main {
  margin-left: 20%; /* MOVE CONTENT TO-RIGHT */
  margin-top: 58px; /* MOVE CONTENT TO-LEFT */
}

.returnButton {
  width: 30px;
  height: 30px;
}

.sidebarItems {
 background-color: #D9FFCF;
 color: #0e3b03;
 white-space: normal;
 
}

.sidebarItems:active,
.sidebarItems:focus,
.sidebarItems:hover {
  color: #0e3b03;
}


.sidebarTitle {
  font-size: 200%; /* Adjust the font size as needed */
  color: #333; /* Set the text color */
  font-weight: bold; /* Make the text bold */
  white-space: wrap; /* Prevent text wrapping */
  text-align: center;
  align-items: center;
}

.sidebarItems{
  text-align: center;
}

.btnReturn{
  width: 30px;
  height: 30px;
}
