.sidebarTitle{
    font-size: 1.7rem !important;
    text-align: center;

}

.columItem{
    text-align: center;
    align-items: center;
}

/* mainLayout_styles.css */
.mainLayout {
    position: relative;
    z-index: 1;
  }
  
  .sidebar {
    position: fixed;
    z-index: 1; /* Ensure this value is higher than the z-index of mainLayout */
    /* ... other styles for the sidebar */
  }
  
  .sidebarItem{
    cursor: pointer;
  }

  