/* Sidebar styles */
.sidebar {
  bottom: 0; /* FOR PULLING THE SIDEBAR DOWNWARDS */
  padding: 70px 0 0; /* FOR SIDEBAR HEIGHT */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%), 0 5px 15px 0 rgb(0 0 0 / 30%); /* FOR SHADOW EFFECT */
  overflow-y: auto; /* OVERFLOW PROPERTY TO WRAP LONG TEXTS */
  position: fixed;
  z-index: 1; /* Ensure this value is higher than the z-index of mainLayout */
  /* ... other styles for the sidebar */
}

@media (max-width: 991.98px) {  
  .sidebar {
    width: 100%; /* FULL WIDTH FOR SMALLER SCREENS */
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100%; /* Adjusted height to 100% of parent container's height */
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#sidebarMenu {
  z-index: -1; /* Adjust the z-index to a lower value */
  position: fixed;
  height: 100%;
  width: 15%; /* Set the width as a percentage */
  background-color: #126912;
  overflow: auto;
  white-space: nowrap;
}


/* HIDES CONTENT WHEN USER HAS NOT CLICKED ANYTHING YET */
.hidden {
  display: none !important;
}

main {
  margin-left: 20%; /* MOVE CONTENT TO-RIGHT */
  margin-top: 58px; /* MOVE CONTENT TO-LEFT */
}

.returnButton {
  width: 30px;
  height: 30px;
}

.sidebarItems {
 color: #ffffff;
 white-space: normal;
 cursor: pointer;
}

.sidebarItems:active,
.sidebarItems:focus,
.sidebarItems:hover {
  color: #0e3b03;
}


.sidebarTitle {
  font-size: 200%; /* Adjust the font size as needed */
  color: #ffffff; /* Set the text color */
  white-space: wrap; /* Prevent text wrapping */
  text-align: center;
  align-items: center;
  font-size: 1.7rem !important;


}

.sidebarItems{
  text-align: center;
}

.btnReturn{
  width: 30px;
  height: 30px;
  color: #ffffff;
}

/* mainLayout_styles.css */
.mainLayout {
  position: relative;
  z-index: 1;
}



